@import url("https://cdn.streamelements.com/scripts/animate.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
	font-family: "Inter", sans-serif;
}

.text-container {
	text-align: right;
	margin: auto;
	padding-top: 20px;
	padding-right: 20px;
}

.cheermote-1,
.alertbox-message-emote {
	height: 24px !important;
	width: 24px !important;
}

.AlertType {
	align-self: stretch;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 0px;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	display: inline-flex;
}

.AlertContainer {
	width: 500px;
	height: max-content;
	max-height: 300px;
	background: #5865F2;
	box-shadow: 0px 0px 9px rgba(26, 25, 32, 0.5);
	border-radius: 8px;
	/* transform: skew(-20deg, 0); */
	overflow: hidden;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	display: inline-flex;
}

.AlertLabel {
	color: rgba(255, 255, 255, 0.9);
	font-size: 24px;
	/* font-weight: 900; */
	word-wrap: break-word;
}

.InfoContainer {
	align-self: stretch;
	height: max-content;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	display: flex;
}

.UsernameContainer {
	align-self: stretch;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 5px;
	display: inline-flex;
	flex-wrap: wrap;
}

.UsernameLabel {
	width: max-content;
	color: rgba(255, 255, 255, 0.9);
	font-size: 24px;
	font-weight: 700;
	word-wrap: break-word;
}

.TypeLabel {
	width: max-content;
	color: rgba(255, 255, 255, 0.9);
	font-size: 24px;
	font-weight: 400;
	text-align: left;
}

.MessageContainer {
	align-self: stretch;
	justify-content: flex-start;
	align-items: left;
	gap: 10px;
	display: inline-flex;
}

.MessageLabel {
	width: 100%;
	color: rgba(255, 255, 255, 0.9);
	font-size: 24px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: wrap;
	overflow: hidden;
	text-align: left;
}


