@import url("https://cdn.streamelements.com/scripts/animate.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
	/* --color-background:
		linear-gradient(
			-180deg,
			rgba(93, 168, 254, 0%) 0%,
			rgba(93, 168, 254, 10%) 100%
		),
		linear-gradient(rgba(93, 168, 254, 5%), rgba(93, 168, 254, 5%)),
		linear-gradient(#0e0e10, #0e0e10); */
	--color-background: rgba(0, 0, 0, 0.842);
	--color-background-soft: rgba(221, 221, 221, 0.801);
	--color-stroke: rgba(177, 177, 177, 0.479);
	--color-text: white;
}

body {
	font-family: "Inter", sans-serif;
}

.text-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: auto;
	padding-top: 20px;
	padding-right: 32px;
}

.cheermote-1,
.alertbox-message-emote {
	height: 24px !important;
	width: 24px !important;
}

.AlertType {
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	display: inline-flex;
}

.AlertContainer {
	width: max-content;
	padding-left: 32px;
	padding-right: 32px;
	height: 64px;
	max-height: 300px;
	background: var(--color-background);
	outline: 1px solid var(--color-stroke);
	border-radius: 999px;
	overflow: hidden;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	position: relative;
	display: inline-flex;
	gap: 24px;
	color: var(--color-text);
}

.AlertType,
.UsernameLabel,
.TypeLabel,
.MessageLabel,
.AlertIcon {
	z-index: 1;
	fill: var(--color-text);
}

.AlertLabel {
	font-size: 24px;
	font-weight: 700;
	word-wrap: break-word;
}

.InfoContainer {
	align-self: stretch;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	display: inline-flex;
}

.SubInfoContainer {
	display: inline-flex;
	width: max-content;
	padding-left: 32px;
	padding-right: 32px;
	height: 48px;
	box-sizing: border-box;
	outline: 1px solid var(--color-stroke);
	background-color: var(--color-background-soft);
	border-radius: 999px;
	margin-top: 12px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.UsernameContainer {
	align-self: stretch;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 5px;
	display: inline-flex;
	flex-wrap: wrap;
}

.UsernameLabel {
	width: max-content;
	font-size: 24px;
	font-weight: 700;
	word-wrap: break-word;
}

.TypeLabel {
	width: max-content;
	font-size: 24px;
	font-weight: 400;
	text-align: left;
}

.MessageContainer {
	align-self: stretch;
	justify-content: flex-start;
	align-items: left;
	gap: 10px;
	/* display: inline-flex; */

	/* Testing */
	display: none !important;
}

.MessageLabel {
	width: 100%;
	font-size: 24px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: wrap;
	overflow: hidden;
	text-align: left;
}
